@import "reset.css";

@font-face {
  font-family: "UhBeeyoongdi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeyoongdi.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 전체 */

html {
  width: 100vw;
  height: 100vh;
  font-family: "UhBeeyoongdi";
  font-weight: 400;
  color: rgb(55, 37, 75);
}

body {
  display: flex;
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
  background-image: url("https://img.freepik.com/free-vector/winter-blue-pink-gradient-background-vector_53876-117276.jpg?w=1380&t=st=1659872950~exp=1659873550~hmac=54efb82808b2263f2b2a6ec52d9b7685e84b7a74508f23b4c91d42767d3198e1");
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  width: 1000px;
  height: 700px;
  margin: 5vh 15vw;
  background-color: white;
  border-radius: 20px;
}

/* 상단바 */

.top-bar {
  width: 100vw;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__left {
  padding: 10px 30px;
}

.color-option {
  width: 30px;
  height: 30px;
  transition: transform ease-in-out 0.2s;
  cursor: pointer;
}

.color-option:hover {
  transform: scale(1.2);
}

.top-bar__right {
  display: flex;
  gap: 20px;
  padding: 10px 30px;
}

.top-bar__right button {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  transition: transform ease-in-out 0.2s;
}

.top-bar__right button:hover {
  transform: scale(1.2);
}

.top-bar__right img {
  width: 30px;
  height: 30px;
  transition: transform ease-in-out 0.2s;
  cursor: pointer;
}

.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.filebox label img:hover {
  transform: scale(1.2);
}

#share {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1329/1329930.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform ease-in-out 0.2s;
}

#share:hover {
  transform: scale(1.2);
}

/* 중앙 layout */

.bottom {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
}

/* 좌측 툴바 */

.tool-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  padding: 30px;
  width: 80px;
  height: 400px;
  margin-top: 10%;
  border-radius: 0 20px 20px 0;
}

.tool-bar__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  gap: 40px;
}

input[type="text"] {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  width: 50px;
  height: 30px;
  text-align: center;
}

.tool-bar input {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  border: 2px solid gainsboro;
}

.tool-bar button {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform ease-in-out 0.2s;
}

.tool-bar button:hover {
  transform: scale(1.2);
}

#mode-btn img {
  width: 40px;
  height: 40px;
}

#eraser-btn img {
  width: 40px;
  height: 40px;
}

#color {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

/* 우측 조절바 */

.main h6 {
  position: absolute;
  margin-left: 1480px;
  text-align: center;
}

.brush {
  margin-top: 160px;
}

.font {
  margin-top: 420px;
}

input[type="range"] {
  -webkit-appearance: none;
  position: absolute;
  transform: rotate(270deg);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  outline: 0;
  border: 0;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1489/1489937.png");
  background-repeat: none;
  background-size: cover;
  rotate: 90deg;
  transition: transform ease-in-out 0.2s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

input[type="range"]#line-width {
  margin-top: 260px;
  margin-left: 1400px;
}

input[type="range"]#font-size {
  margin-top: 520px;
  margin-left: 1400px;
}

.color-options {
  display: flex;
  gap: 10px;
}

.color-option {
  width: 20px;
  height: 20px;
  border: 5px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in-out 0.3s;
}

.color-option:hover {
  transform: scale(1.2);
}
